@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes nexiq-blink {
  0%,
  80%,
  100% {
    opacity: 0.2;
  }

  40% {
    opacity: 1;
  }
}

.animate-nexiq-blink {
  animation: nexiq-blink 1.2s infinite;
}
